<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Show Category</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css')}}">
    <script src='main.js'></script>
</head>
<body>

    <div class="header">
        <h1>{{category}}</h1>
        
    </div>
    <br></br>
    <span>Then all the information of the selected category will be displayed</span>
    <br></br>
    <table>
        <!-- Tablas de muestreo de los datos (Las columnas varian dependiendo de lo que se mande (Modificar para el Diccionario convertido que se envia como entrada)-->
        <tr>
            <th>Page</th>
            <th>Column01</th>
            <th>Column02</th>
        </tr>
        
        {% for entry in data %}
        <tr>
            <td>{{entry["page"]}}</td>
            <td>{{entry["Column01"]}}</td>
            <td>{{entry["Column02"]}}</td>
        </tr>
        {% endfor %}

    </table>







    


    
</body>
</html>